{% load static%}
<footer class="footer">

    <section id="top">

        <ul class="flex">
            <li class="footer info">
                <h2 class="text-lg uppercase">Customer Service</h2>
                <span class="number-info block text-lg">070 - 0123 - 0123<br></span>
                <span class="time-info block">평일 | 11:00 ~ 16:00<br/><span class="lunch">(점심시간 13:00~14:00)</span></span>
                <span class="closed-info block">주말 및 공휴일 휴무</span>
            </li>
            <li class="vertical-line"></li>
            <li class="xans-layout-footer csInfo">
                <h2 class="text-lg uppercase">Offline Store</h2>
                <span class="number-info text-lg block">070 - 0123 - 0123<br></span>
                <span class="time-info block">평일 &amp; 주말 | 12:00 ~ 20:30</span>
                <span class="closed-info block">월요일 휴무</span>
            </li>
            <li class="vertical-line"></li>
            <li class="accInfo">
				<h2 class="text-lg uppercase">Account</h2>
				<span class="number-info text-lg block">078 - 123456 - 01 - 012<br></span>
				<span class="time-info block">기업은행 (주)두샤</span>
			</li>
            <li class="vertical-line"></li>
            <li class="partnershipInfo">
				<h2 class="text-lg uppercase">Partnership</h2>
				<span class="number-info text-lg block">070 - 0123 - 1234<br></span>
				<span class="time-info block ">입점 및 제휴문의</span>
                <span class="time-info block">project_team@dusha.com</span>
			</li>
        </ul>
    </section>
    <section id="footer-bottom">
        <h2>DUSHA PROCESS</h2>
        <span>국가기관에 정식 등록된 공식 수입사,두샤의 모든 제품은 국문 라벨이 부착된
                100% 정품임을 보증합니다.<br>
        </span>
        <!--<ul class="service">
            <li><a href="#" class="service1">회사소개 |</a></li>
            <li><a href="#" class="service2">이용약관 |</a></li>
            <li><a href="#" class="service3">개인정보처리방침 |</a></li>
            <li><a href="#" class="service4">이용안내</a></li>
        </ul>-->
        <ul>
            <li class="follow">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
            </li>
        </ul>
        <ul>
            <li>
               <span>상호명 | </span>
               주식회사 dusha
            </li>
            <li>
               <span>대표자 | </span>
               향수조아
            </li>
            <li>
               <span>사업자등록번호 | </span>
               654-33-00156
            </li>
            <li>
               <span>통신판매업신고번호 | </span>
               제 2023-서울종로-0627 호
            </li>
            <li>
               <span>고객센터 | </span>
               02-3481-1005
            </li>
            <li>
               <span>주소 | </span>
               서울 강남구 테헤란로5길 24 장연빌딩 3~7층
            </li>
            <li>
                <span>개인정보보호책임자 | </span>
                두샤(dusha)
            </li>
            <li class="copy ">Copyright © 두샤. All rights reserved.</li>
        </ul>
    </section>


</footer>