{% extends 'base.html' %}
{% block content %}

<section id="wrap">

<div class="question-list">

<h2>공지사항</h2>
    <table class="table_one">
        <col style="width:100px;">
        <col style="width:400px;">
        <col style="width:400px;">
        <col style="width:150px;">
        <thead class="thead_one">
            <tr class="tr_one">
                <th class="tr_one">번호</th>
                <th class="tr_one">제목</th>
                <th class="tr_one">작성일</th>
                <th class="tr_one">작성자</th>
            </tr>
        </thead>
        <tbody class="thead_one">
            {% if notice_list %}
                {% for notice in notice_list %}
                <tr class="tr_one">
                    <!-- 글 번호 -->
                    <td class="td_one">
                        {{ forloop.counter }}
                    </td>
                    <!-- 글 제목-->
                    <td class="td_one">
                        <a href="{% url 'board:notice_detail' notice.id %}">{{ notice.subject }}</a>
                    </td>
                    <!-- 글 작성일 -->
                    <td class="td_one">{{ notice.create_date }}</td>
                    <!-- 작성자 -->
                    <td class="td_one">{{ notice.author }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr class="tr_one">
                    <td class="td_one" colspan="4" >공지가  없습니다.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <!--질문 등록 버튼 -->
    <div class=" frame">
        <button type="submit" class="custom-btn btn_one1 create-button" >
            <a href="{% url 'board:notice_create' %}">공지 등록</a>
        </button>
    </div>

        <!--페이징 처리 시작  -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if notice_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ notice_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in notice_list.paginator.page_range %}
        {% if page_number >= notice_list.number|add:-5 and page_number <= notice_list.number|add:5 %}
        {% if page_number == notice_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if notice_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ notice_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
<!--    검색창 -->

        <form action="" method="get" id="searchForm"> <!-- page, kw get방식으로 요청 -->
            <input type="hidden" name="kw" id="kw">
            <input type="hidden" name="page" id="page">
        </form>

  <!--검색 입력 상자와 찾기버튼-->
    <div class="search">
        <div class="col-4 input-group">
            <input type="text" class="kw form-control" value="{{ kw|default_if_none:'' }}">
             <button type="button" id="btn_search"
                        class="custom-btn btn_one1">찾기</button>

        </div>
    </div>

</div>
{% include 'footer.html' %}

    </section>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        //페이지 처리
        $(".page-link").on('click', function(){   //페이지 번호를 클릭하면
            $("#page").val($(this).data("page")); //해당 페이지 번호를 page 필드에 가져옴
            $("#searchForm").submit();            //폼을 전송
        });

        //검색 처리
        $("#btn_search").on('click', function(){
           let text = $(".kw").val();          //검색어 값
           $("#kw").val(text);                 //폼의 kw 필드에 설정
           $("#page").val(1);                  //1페이지를 page 필드에 설정
           $("#searchForm").submit();          //폼을 전송
        });
    });

    $(document).ready(function() {
        $(".create-button").on("click", function(event) {
            event.preventDefault();  // 기본 동작(링크 이동)을 중지합니다.
            alert("관리자만 글을 작성할 수 있습니다.");
            // 또는 다른 알림창 스타일을 사용하려면, 대화 상자 라이브러리를 사용할 수도 있습니다.
        });
    });
</script>
{% endblock %}